.table-margin{
  margin-top: 15px;
}

.table-header{
    background-color: #405f88;
}

.image-header{
    height: 120px !important;
    width: 120px !important;
}

.dropdown{
    width: 250px !important;
};