.btn-submit{
    margin-top:-33px;
    margin-right: 820px;
    float: right;
}

.background{
    background:#405f88;
    color:#ffffff;
}

.profile{
    width:150px;
    height:150px;
}

.select{
    width: 20%;
}